.theme-deepblue {
  background: #f4f4f4 url("deepblue/body-bg.png");
  /*// Styles
  // see {PixelAdmin}/styles/pixel-admin-less/mixins.less
  //

  // Navbar icon buttons
  .nav-icon-btn-theme(@primary-color);

  // Buttons
  .buttons-theme(@primary-color);

  // Progress bars
  .progress-bars-theme(@primary-color);

  // Labels
  .labels-theme(@primary-color);

  // Badges
  .badges-theme(@primary-color);

  // Tables
  .tables-theme(@primary-color);

  // Tabs
  .tabs-theme(@primary-color);

  // Pills
  .pills-theme(@primary-color);

  // Dropdowns
  .dropdowns-theme(@primary-color, #fff);

  // Button groups
  .button-groups-theme(@primary-color);

  // Pagination
  .pagination-theme(@primary-color);

  // List groups
  .list-groups-theme(@primary-color);

  // Forms theme
  .forms-theme(@primary-color);

  // Text color
  .text-primary {
    .pixel-text-color(@primary-color);
  }

  // Background color
  .bg-primary {
    .pixel-bg-color(@primary-color);
  }  


  // Plugins
  //

  // jQuery UI
  .ui-slider-theme(@primary-color);
  .ui-autocomplete-theme(@primary-color, #fff);
  .ui-menu-theme(@primary-color);
  .ui-progressbar-theme(@primary-color);
  .ui-tabs-theme(@primary-color);
  .ui-datepicker-theme(@primary-color);

  // Plugins
  .select2-theme(@primary-color);
  .switcher-theme(@primary-color);
  .pixel-file-input-theme(@primary-color);
  .bootstrap-datepicker-theme(@primary-color);
  .bootstrap-timepicker-theme(@primary-color);
  .datepaginator-theme(@primary-color);
  .editable-typeahead-theme(@primary-color);
  .data-table-theme(@primary-color);
  .dropzone-theme(@primary-color);
  .md-editor-theme(@primary-color);

  // Widgets
  .widget-rating-theme(@primary-color);*/
}
.theme-deepblue .page-header {
  background: #ececec;
  background: rgba(0, 0, 0, 0.03);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.theme-deepblue .table,
.theme-deepblue .panel,
.theme-deepblue .page-header,
.theme-deepblue hr {
  border-color: #d6d6d6;
}
.theme-deepblue .bordered {
  border-color: #d6d6d6;
}
.theme-deepblue .bordered[class*='bg-'],
.theme-deepblue [class*='bg-'] .border-t {
  border-color: #fff;
  border-color: rgba(0, 0, 0, 0.2);
}
.theme-deepblue .panel.panel-transparent > .panel-heading {
  border-bottom-color: #d6d6d6 !important;
}
.theme-deepblue .breadcrumb-page {
  background: #ececec;
  background: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 6px;
  padding-top: 6px;
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.theme-deepblue #tinyfooter {
  background: #418ce4;
}
.gt-ie9 .theme-deepblue #main-navbar,
.gt-ie9 .theme-deepblue #main-navbar .navbar-header {
  background-image: -webkit-linear-gradient(top, #52aded 0%, #418ce4 100%);
  background-image: linear-gradient(to bottom, #52aded 0%, #418ce4 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff52aded', endColorstr='#ff418ce4', GradientType=0);
}
.ie8 .theme-deepblue #main-navbar,
.ie9 .theme-deepblue #main-navbar,
.ie8 .theme-deepblue #main-navbar .navbar-header,
.ie9 .theme-deepblue #main-navbar .navbar-header {
  background-image: url("deepblue/ie-navbar-bg.png");
}
.theme-deepblue #main-navbar {
  border-bottom: 1px solid #185aa7;
}
.theme-deepblue #main-navbar,
.theme-deepblue #main-navbar .navbar-header {
  background: #418ce4;
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
}
.theme-deepblue #main-navbar .navbar-brand {
  color: #fff;
}
.theme-deepblue #main-navbar .dropdown > a,
.theme-deepblue #main-navbar .dropdown-menu > li > a,
.theme-deepblue #main-navbar .nav > li > a {
  text-shadow: rgba(0, 0, 0, 0.2) 0px -1px 0;
  color: #fff;
}
.theme-deepblue #main-navbar .navbar-toggle,
.theme-deepblue #main-navbar #main-menu-toggle {
  color: #fff;
}
.theme-deepblue #main-navbar #main-menu-toggle {
  border: 0px solid;
  border-color: #3470b6;
  border-color: rgba(0, 0, 0, 0.2);
}
.theme-deepblue #main-navbar #main-menu-toggle .fa:before {
  color: #fff;
}
.theme-deepblue #main-navbar .main-navbar-collapse {
  border-top: 1px solid #185aa7;
  background: #418ce4;
  -webkit-box-shadow: rgba(255, 255, 255, 0.18) 0px 1px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.18) 0px 1px 0px inset;
}
.theme-deepblue #main-navbar li {
  border-bottom: 1px solid #5697e4;
}
.theme-deepblue #main-navbar .dropdown.open > a {
  background: #377bca;
  border-bottom: 1px solid #2e6db7;
  border-top: 1px solid #306cb3;
  margin-top: -1px;
}
.theme-deepblue #main-navbar form.navbar-form {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.theme-deepblue #main-navbar form.navbar-form .form-control {
  background: #fff;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  color: #fff;
  border-radius: 999999px;
  -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.theme-deepblue #main-navbar form.navbar-form .form-control:focus {
  background: #fff;
  color: #555555;
}
.theme-deepblue #main-navbar form.navbar-form .form-control::-moz-placeholder {
  color: #2565af;
  opacity: 1;
}
.theme-deepblue #main-navbar form.navbar-form .form-control:-ms-input-placeholder {
  color: #2565af;
}
.theme-deepblue #main-navbar form.navbar-form .form-control::-webkit-input-placeholder {
  color: #2565af;
}
@media (min-width: 768px) {
  .theme-deepblue #main-navbar .main-navbar-collapse {
    background: none;
    border-top: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .theme-deepblue #main-navbar li {
    border-bottom: none;
  }
  .theme-deepblue #main-navbar .dropdown > a,
  .theme-deepblue #main-navbar .nav > li.active > a,
  .theme-deepblue #main-navbar .nav > li > a:hover {
    color: rgba(255, 255, 255, 0.7);
  }
  .theme-deepblue #main-navbar .dropdown.open > a,
  .theme-deepblue #main-navbar .dropdown.open > a:hover {
    background: rgba(0, 0, 0, 0.15);
    border: none;
    margin: 0;
    color: #fff;
  }
  .theme-deepblue #main-navbar .dropdown-menu {
    border-radius: 2px;
    margin-top: 3px;
    border-width: 2px;
    padding: 5px 0;
  }
  .theme-deepblue #main-navbar .dropdown-menu li > a {
    color: #555555;
    text-shadow: none;
    margin: 0 -2px;
  }
  .theme-deepblue #main-navbar .dropdown-menu li > a:hover {
    background: #418ce4;
    color: #fff;
  }
  .theme-deepblue #main-navbar .nav-icon-btn > a > .label,
  .theme-deepblue #main-navbar .nav-icon-btn > a > .badge {
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }
}
.theme-deepblue #main-navbar #main-menu-toggle,
.theme-deepblue.right-to-left.main-menu-right #main-navbar #main-menu-toggle {
  border-right-width: 1px;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2);
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2);
}
.theme-deepblue.right-to-left #main-navbar #main-menu-toggle,
.theme-deepblue.main-menu-right #main-navbar #main-menu-toggle {
  border-left-width: 1px;
  border-right-width: 0;
  -webkit-box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.2) inset;
}
.theme-deepblue #main-menu-bg,
.theme-deepblue .mmc-dropdown-open-ul {
  background: #2b2b2b url("deepblue/menu-bg.png");
}
.theme-deepblue #main-menu-bg,
.theme-deepblue.right-to-left.main-menu-right #main-menu-bg {
  border-left: none;
  border-right: 1px solid #1d1d1d;
}
.theme-deepblue.main-menu-right #main-menu-bg,
.theme-deepblue.right-to-left #main-menu-bg {
  border-left: 1px solid #1d1d1d;
  border-right: none;
}
.theme-deepblue #main-menu .navigation {
  -webkit-box-shadow: 0 1px 0 #313131;
  box-shadow: 0 1px 0 #313131;
}
.theme-deepblue #main-menu .navigation a,
.theme-deepblue #main-menu .mmc-dropdown-open-ul a {
  color: #aaaaaa;
  /*  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6);
    .transition(color .2s);*/
}
.theme-deepblue #main-menu .navigation a:hover,
.theme-deepblue #main-menu .mmc-dropdown-open-ul a:hover {
  color: #fff !important;
}
.theme-deepblue #main-menu li {
  border-top: 1px solid #313131;
  border-bottom: 1px solid #1f1f1f;
}
.theme-deepblue #main-menu li.active {
  border-top: none;
  background: #242424;
  background: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 1px 6px inset rgba(0, 0, 0, 0.25) !important;
  box-shadow: 0px 1px 6px inset rgba(0, 0, 0, 0.25) !important;
}
.theme-deepblue #main-menu li.active > a,
.theme-deepblue #main-menu li.active > a:hover {
  color: #333 !important;
  background: #eee;
}
.theme-deepblue #main-menu .mm-dropdown.open {
  border-bottom: none;
}
.theme-deepblue #main-menu .mm-dropdown.open > a {
  border-bottom: 1px solid #1f1f1f;
}
.theme-deepblue #main-menu .navigation .mm-dropdown.active,
.theme-deepblue #main-menu .mmc-dropdown-open {
  border-top: 1px solid #313131;
  background: none;
}
.theme-deepblue #main-menu .navigation .mm-dropdown.active > a,
.theme-deepblue #main-menu .mmc-dropdown-open > a,
.theme-deepblue #main-menu .navigation .mm-dropdown.active > a:hover,
.theme-deepblue #main-menu .mmc-dropdown-open > a:hover {
  color: #418ce4 !important;
  background: none;
}
.theme-deepblue #main-menu .mmc-dropdown-open-ul {
  margin-top: -1px !important;
}
.theme-deepblue #main-menu .mmc-dropdown-open-ul > a {
  color: #fff !important;
}
.theme-deepblue #main-menu .mmc-title {
  color: #fff;
  border-bottom: 1px solid #1f1f1f;
  padding-top: 1px;
  padding-bottom: 1px;
}
.theme-deepblue #main-menu .mmc-dropdown-open-ul.top {
  margin-top: 0 !important;
  margin-bottom: 1px !important;
}
.theme-deepblue #main-menu .mmc-dropdown-open-ul.top .mmc-title {
  padding-top: 0;
}
.theme-deepblue #main-menu .menu-content {
  border: none;
  margin-top: -8px;
}
.theme-deepblue #main-menu .menu-content .btn-outline {
  border-color: #383838;
  color: #fff;
}
.theme-deepblue #main-menu .menu-content .btn-outline:hover {
  color: #fff;
}
.theme-deepblue #main-menu .menu-content.top {
  border-bottom: 1px solid #1f1f1f;
  margin-top: 0;
}
.theme-deepblue.right-to-left #main-menu-bg {
  border-right: none;
  border-left: 1px solid #1d1d1d;
}
.theme-deepblue .mmc-dropdown-open .mm-dropdown.open > a,
.theme-deepblue.mme #main-menu .mm-dropdown.open > a {
  color: #fff;
}
@media (min-width: 768px) {
  .theme-deepblue #main-menu .mm-dropdown.open > a {
    color: #fff;
  }
  .theme-deepblue.mmc #main-menu .navigation > .mm-dropdown.open > a {
    color: #aaaaaa;
  }
}
.theme-deepblue .demo-logo {
  background: #418ce4;
}
.theme-deepblue.page-signin .signin-info,
.theme-deepblue.page-signup .signup-header {
  background: #418ce4;
  background: rgba(65, 140, 228, 0.8);
}
.theme-deepblue .timeline:before,
.theme-deepblue .timeline:after,
.theme-deepblue .tl-header,
.theme-deepblue .tl-icon {
  background: #dbdbdb;
}
.theme-deepblue .tl-header,
.theme-deepblue .tl-icon {
  box-shadow: 0 0 0 4px #f4f4f4;
}
.theme-deepblue .tl-entry:before {
  background: #418ce4;
  box-shadow: 0 0 0 3px #f4f4f4;
}
.theme-deepblue .tl-body:before {
  border-color: transparent #d6d6d6 transparent transparent;
}
@media (min-width: 768px) {
  .theme-deepblue .timeline.centered .tl-entry.left .tl-body:before {
    border-color: transparent transparent transparent #d6d6d6;
  }
  .theme-deepblue.right-to-left .timeline.centered .tl-entry.left .tl-body:before {
    border-color: transparent #d6d6d6 transparent transparent;
  }
}
.theme-deepblue.right-to-left .tl-body:before {
  border-color: transparent transparent transparent #d6d6d6;
}
.theme-deepblue.page-mail .mail-nav,
.theme-deepblue.page-mail .mail-nav:before {
  background: #f4f4f4 url("deepblue/body-bg.png");
}
.theme-deepblue.page-mail .mail-nav .sections li.active .label,
.theme-deepblue.page-mail .mail-nav .sections li.active .badge {
  background: #418ce4;
}
.theme-deepblue.page-mail .mail-nav,
.theme-deepblue.page-mail .mail-nav .compose-btn,
.theme-deepblue.page-mail .mail-nav .sections li.active,
.theme-deepblue.page-mail .mail-nav:before {
  border-color: #d6d6d6;
}
.theme-deepblue.page-mail .mail-nav .navigation.open .sections li.active {
  background: #eaeaea;
  background: rgba(0, 0, 0, 0.04);
}
.theme-deepblue.page-mail .mail-nav li.divider {
  background: #d6d6d6;
}
.theme-deepblue.page-mail .mail-nav .sections li.active a {
  color: #424242;
}
.theme-deepblue.page-mail .mail-nav .sections li.active:after {
  color: #a8a8a8;
}
.theme-deepblue.page-mail .mail-nav .sections a {
  color: #686868;
}
.theme-deepblue.page-mail .mail-nav-header {
  color: #a8a8a8;
}
.theme-deepblue.page-mail .mail-nav .add-more a {
  color: #a8a8a8;
}
@media (min-width: 992px) {
  .theme-deepblue.page-mail .mail-nav .navigation .sections li.active {
    background: #eaeaea;
    background: rgba(0, 0, 0, 0.04);
  }
  .theme-deepblue.page-mail .mail-nav .sections a:hover {
    color: #424242;
  }
}
