@charset "utf-8";
/*4.4 幻灯片
	Name:			module_slider
	Sample:
  <section class="slider cl has-dots">
		<a href="javascript:void(0)" class="unslider-arrow prev"></a>
		<a href="javascript:void(0)" class="unslider-arrow next"></a>
    <ul class="tabcon">
      <li><a href="#" target="_blank"><img name="" src="pic/1.png" width="300" height="150" alt=""></a></li>
      <li><a href="#" target="_blank"><img name="" src="pic/2.png" width="300" height="150" alt=""></a></li>
      <li><a href="#" target="_blank"><img name="" src="pic/3.png" width="300" height="150" alt=""></a></li>
    </ul>
  </section>
	<script type="text/javascript" src="Lib/unslider.min.js"></script> 
	<script type="text/javascript">
	$(function() {
		$('.slider').unslider({deplay:3000,fluid: true,dots: true});
		var unslider = $('.slider').unslider();
    	$('.unslider-arrow').click(function() {
        	var fn = this.className.split(' ')[1];
			unslider.data('unslider')[fn]()})});
	</script>
	Explain: 默认dots为圆点，在slider后面追加numSlider样式就变成带数字的方框，boxSlider为不带数字长方条
*/
.slider{position:relative;text-align:center; margin:0 auto}
.slider .tabcon li{float: left;overflow:hidden}
.dots{position:absolute;right:0px; width:100%;bottom:10px; text-align:center}
.dots span{display:inline-block;text-align:center;width:8px; height:8px; font-size:0px;line-height:0px;margin-right:8px;cursor:pointer; background-color:#C2C2C2;border-radius:8px}
.dots span.active{background-color:#222}
.numSlider .dots span{width:20px; height:20px; line-height:20px; font-size:13px; margin-right:10px;line-height:20px;background-color:#fff;font-family:Arial;font-weight:bold; text-indent:inherit;border-radius:0px}
.numSlider .dots span.active{background-color:#222;color:#fff}
.boxSlider .dots span{width:40px; height:10px;border-radius:0px}
.boxRadius .dots span{width:40px}

.unslider-arrow{display:block; position:absolute; top:50%; margin-top:-25px;height: 50px;width: 50px; z-index:3;opacity: 0.7;filter: alpha(opacity=70); background-color:#303030; background-image:url(../images/unslider-arrow.png); background-repeat:no-repeat}
.unslider-arrow:hover{opacity: 1;filter: alpha(opacity=100)}
.prev{left:0px; background-position:0 0}
.next{right:0px;background-position:right 0}