/*栅格系统*/
.row:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.row{zoom:1;/*margin:0;*/}
/*[class^="span-"],[class*=" span-"] {float:left; margin-top:20px}*/
.row-980-20 [class^="span-"],.row-980-20 [class*=" span-"]{margin-right:10px}
.row-980-20{margin-right:-20px}
.row-980-20 .span-1 {width:40px}
.row-980-20 .span-2 {width:90px}
.row-980-20 .span-3 {width:140px}
.row-980-20 .span-4 {width:190px}
.row-980-20 .span-5 {width:240px}
.row-980-20 .span-6 {width:290px}
.row-980-20 .span-7 {width:340px}
.row-980-20 .span-8 {width:390px}
.row-980-20 .span-9 {width:440px}
.row-980-20 .span-10{width:490px}
.row-980-20 .span-11{width:540px}
.row-980-20 .span-12{width:590px}
.row-980-20 .span-13{width:640px}
.row-980-20 .span-14{width:690px}
.row-980-20 .span-15{width:740px}
.row-980-20 .span-16{width:790px}
.row-980-20 .span-17{width:840px}
.row-980-20 .span-18{width:890px}
.row-980-20 .span-19{width:940px}
.row-980-20 .span-20{width:980px}

.row-percentage-24.girdrap [class^="span-"],.row-percentage-24 [class*=" span-"]{margin-left:1%;margin-right:1%}
.row-percentage-24 .span-0 {width:0}
.row-percentage-24 .span-1 {width:4%}
.row-percentage-24 .span-2 {width:8%}
.row-percentage-24 .span-3 {width:12%}
.row-percentage-24 .span-4 {width:16%}
.row-percentage-24 .span-5 {width:20%}
.row-percentage-24 .span-6 {width:24%}
.row-percentage-24 .span-7 {width:28%}
.row-percentage-24 .span-8 {width:32%}
.row-percentage-24 .span-9 {width:36%}
.row-percentage-24 .span-10{width:40%}
.row-percentage-24 .span-11{width:44%}
.row-percentage-24 .span-12{width:48%}
.row-percentage-24 .span-13{width:52%}
.row-percentage-24 .span-14{width:56%}
.row-percentage-24 .span-15{width:60%}
.row-percentage-24 .span-16{width:64%}
.row-percentage-24 .span-17{width:68%}
.row-percentage-24 .span-18{width:72%}
.row-percentage-24 .span-19{width:76%}
.row-percentage-24 .span-20{width:80%}
.row-percentage-24 .span-21{width:84%}
.row-percentage-24 .span-22{width:88%}
.row-percentage-24 .span-23{width:92%}
.row-percentage-24 .span-24{width:98%}

.row-percentage-24.girdrap .layloutBg{background:#c00;color: #fff;padding:10px 0; text-align:center;}

/*2.1 响应式栅格系统*/
/*.row{ box-sizing:border-box;}*/
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{box-sizing:border-box; float:left;min-height: 1px;/*position: relative;*/padding-left:15px;padding-right:15px}
.col-1{width:8.33333%}
.col-2{width:16.66667%}
.col-3{width:25%}
.col-4{width:33.33333%}
.col-5{width:41.66667%}
.col-6{width:50%}
.col-7{width:58.33333%}
.col-8{width:66.66667%}
.col-9{width:75%}
.col-10{width:83.33333%}
.col-11{width:91.66667%}
.col-12{width:100%}
 
.col-offset-0{margin-left:0}
.col-offset-1{margin-left:8.33333%}
.col-offset-2{margin-left:16.66667%}
.col-offset-3{margin-left:25%}
.col-offset-4{margin-left:33.33333%}
.col-offset-5{margin-left:41.66667%}
.col-offset-6{margin-left:50%}
.col-offset-7{margin-left:58.33333%}
.col-offset-8{margin-left:66.66667%}
.col-offset-9{margin-left:75%}
.col-offset-10{margin-left:83.33333%}
.col-offset-11{margin-left:91.66667%}
 
.col-push-0{position:relative;left:0;right:auto}
.col-pull-0{right:0;left:auto}
.col-push-1{left:8.33333%;right:auto}
.col-pull-1{right:8.33333%;left:auto}
.col-push-2{left:16.66667%;right:auto}
.col-pull-2{right:16.66667%;left:auto}
.col-push-3{left:25%;right:auto}
.col-pull-3{right:25%;left:auto}
.col-push-4{left:33.33333%;right:auto}
.col-pull-4{right:33.33333%;left:auto}
.col-push-5{left:41.66667%;right:auto}
.col-pull-5{right:41.66667%;left:auto}
.col-push-6{left:50%;right:auto}
.col-pull-6{right:50%;left:auto}
.col-push-7{left:58.33333%;right:auto}
.col-pull-7{right:58.33333%;left:auto}
.col-push-8{left:66.66667%;right:auto}
.col-pull-8{right:66.66667%;left:auto}
.col-push-9{left:75%;right:auto}
.col-pull-9{right:75%;left:auto}
.col-push-10{left:83.33333%;right:auto}
.col-pull-10{right:83.33333%;left:auto}
.col-push-11{left:91.66667%;right:auto}
.col-pull-11{right:91.66667%;left:auto}

@media (max-width:767px){
	.responsive [class^="col-"],.responsive [class*=" col-"]{float:none!important;width:auto!important;}
	.responsive [class^="col-offset-"],.responsive [class*=" col-offset-"]{ margin-left:0 !important}
}