
/*遮罩条*/
.maskBar{position:absolute;width:100%; height:auto;left:0; bottom:-60px; right:0;background-color:#000;z-index:2; color:#fff!important;opacity:0.6;filter:alpha(opacity=60)}
.maskBar .mask-infos{padding:5px; text-align:center}
.maskWraper{position:relative; overflow:hidden}
.maskWraper.hover .maskBar{bottom:0px;
  transition: bottom 200ms;
  -moz-transition: bottom 200ms; /* Firefox 4 */
  -webkit-transition: bottom 200ms; /* Safari 和 Chrome */
  -o-transition: bottom 200ms; /* Opera */
}
.maskBox{position:absolute;width:100%; height:100%;top:0;left:0; bottom:0;right:0;z-index:2;background-color:#000; color:#fff!important;opacity:0;filter:alpha(opacity=0)}
.maskWraper.hover .maskBox{opacity:0.2;filter:alpha(opacity=20);
  transition: opacity 500ms;
  -moz-transition: opacity 500ms; /* Firefox 4 */
  -webkit-transition: opacity 500ms; /* Safari 和 Chrome */
  -o-transition: opacity 500ms; /* Opera */
}
